<div class="card text-center mt-3">
    <div class="card-header">
        Post {{post.id}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-warning me-md-2" type="button" (click)="updateItem()">Edit</button>
            <button class="btn btn-danger" type="button" (click)="deleteItem()">Delete</button>
        </div>
    </div>

</div>